*{
  margin: 0;
  padding: 0;
}
ul{
  height: 80px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
}
.right{
  margin-left: 48%;
}
li{
  margin-left: 6%;
}
.name{
  font-size: 24px;
  color:white;
  font-family: sans-serif;
}
img{
  height: 550px;
  width: 100%;
  position: relative;
}
.port{
  color: aliceblue;
  position: absolute;
  top: 20%;
  right:10%;
  font-size: 25px;
}
.ram{
  height: 400px;
  width: 200x;
  border-radius: 30%;
}
.line{
  position: absolute;
  top: 20%;
  left:10%;
  color: white;
  font-size: 22px;
}
a{
  color: white;
}
a:hover{
  color: aqua;
}
h1:hover{
  color: aquamarine;

}
